---

---

<div class="container mt-5">
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">รวม</th>
        <th scope="col">อันดับ</th>
        <th scope="col">ชื่อของประทาน</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>เผยพระวาจะ</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>อภิบาล</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>การสอน</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>ถ้อยคำประกอบด้วยสติปัญญา</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>ถ้อยคำประกอบด้วยความรู้</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>การตักเตือน และหนุนใจ</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>การสังเกตุวิญญาณ</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>การบริจาค</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>การปรนนิบัติ</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>ความเมตตา</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>มิตรชนนารี</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>ผู้ประกาศ</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>การรับรองแขก</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>ความเชื่อ</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>ผู้ครอบครอง</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>ผู้บริหาร</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>การอัศจรรย์</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>การรักษาโรค</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>การพูดภาษาแปลกๆ</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>การแปลภาษาแปลกๆ</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>อัครฑูต</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>การอยู่เป็นโสด</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>การอธิษฐานอ้อนวอน</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>การขับผี</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>ผู้ปลุกกระ</td>
      </tr>
    </tbody>
  </table>
</div>
